{% extends "details/base.html" %}

{% block title %}
{% load static %}
<link rel="stylesheet" href="{% static 'details/scores.css' %}" >
{% endblock %}

{% block content %}
<div class="container">
<center>
            <table class="table table-bordered">
               <thead class="">
                  <tr>
                     <th>Subject</th>
                     <th>Number of classes</th>
                     <th>Number of classes attended</th>
                     <th>Percentage of attendance</th>
                  </tr>
               </thead>

               {% for attendance in attendances %}
               <tbody>
               <td>{{ attendance.subject_name }}</td>
               <td>{{ attendance.classes }}</td>
               <td>{{ attendance.attended }}</td>
               <td>{{ attendance.percentage }}</td>
               </tbody>

               {% endfor %}
            </table>
</center>
   </div>

{% endblock %}
